<!DOCTYPE html>
<html>
<head>
   


{{>headtag}}
<link rel="stylesheet" href="./cssindex.css">
    <title>MEDIHEAL</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-dark">
        
        <a class="navbar-brand fs-00 mycol1" href="/"><i class="bi-globe"></i>&nbsp;&nbsp;<b>MEDIHEAL</b></a>
      
        <div class="collapse navbar-collapse fs-01" id="navbarTogglerDemo03" >
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0 w-100 d-flex justify-content-end">
            <li class="nav-item active">
              <a class="nav-link  mycol ac1 " href="/"><i class="fas fa-home"></i> Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link  mycol" href="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
            </li>
            <li class="nav-item">
                <a class="nav-link mycol" href="/login"><i class="fa fa-sign-in"></i> Log In</a>
              </li>
            
          </ul>
          
        </div>
      </nav>
      
            
          
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/k1.jpg" class="d-block w-90" alt="..." width="1600" height="670">
              <div class="carousel-caption d-none d-md-block centered">
                <i class="fa fa-handshake-o" style="font-size:80px"></i><h5 style="color:rgb(241, 236, 236);font-size:4vw;"><b>WELCOME!!!</b></h5>
            </div>
            <div class="carousel-caption d-none d-md-block">
                <h5 style="color:rgb(241, 236, 236);font-size:2vw;"><b>“Wherever the art of Medicine is loved, there is also a love of Humanity ”</b></h5>
            </div>
           </div>
        </div>
            
         

</body>
</html>